
body{
    height: 10000px;
    margin-left: 20px;
    margin-left: 0px;
    margin-top: 0px;
    zoom: 90%;
}

html{
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: rgb(20, 171, 222);
    padding: 20px;
    height: 890px;
    width: 106.5vw;

}

.brand {
    font-size: 30px;
    color: white;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.button_barre {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 49px;
    margin-left: 55px;
    color: rgb(237, 230, 230);
    margin-top: 15px;
    border-radius: 40px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.button_barre:hover {
    color: #8ec810;
}

.div2{         
    width: auto;
    margin-left: 200px;
    height: 135px;
    width: 900px; 
    display: flex;
    align-items: center;   
    justify-content: center;
}

.div_first_pic{
    background-color: white;
    height: 494px;
    width: 355px;  
    margin:  -660px 0px 0px 22%;
    /* margin: -660px 0px 0px 280px;   */
    rotate: 201rad;

}
.first_pic{
    background-image: url('images/rn50e1idzyww9blug42l.jpg'); 
    border-radius: 10px;
    background-size: 330px 400px;
    height: 393px;
    width: 326px;  
    margin: 13px 14px 0px;
    position: absolute;
    
}


.move-icon {
position: relative;
animation: moveAndBack 2s infinite alternate;
}

@keyframes moveAndBack {
    0% {
        left: 0;
    }
    100% {
        left: calc(40% ); 
    }
}

.div_de_why_travel_div{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    padding-left: 40px;
    justify-content: center;
}

.cards .red {
    background-image: url("https://images.prismic.io/travelsation/a3c7af10-0077-429f-a214-9ca5e0b85345_kelsey-chance-CutTQTt2HyI-unsplash.jpg?auto=compress,format&w=768");
    background-repeat: no-repeat;
    background-size: 500px  600px;
    margin-left: 25px;
    
}

.cards .blue {
    background-image: url("https://images.prismic.io/travelsation/24e405ad-1157-4ec8-9a6f-9d76e3253468_manny-moreno-9gLG64sWdd8-unsplash.jpg?auto=compress,format&w=768");
    background-repeat: no-repeat;
    background-size: 500px 600px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-left: 10px;
    
}

.cards .green {
    background-image: url("https://images.prismic.io/travelsation/ca285829-f404-47be-ae02-5c3099ea4d94_david-potaczala-VodPhSqe7Dc-unsplash.jpg?auto=compress,format&w=768");
    background-repeat: no-repeat;
    background-size: 500px 600px;
    margin-left: 10px;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    height: 530px;
    width: 380px;
}

.cards .card p.tip {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: -250px;
}

.cards .card:hover {
    transform: scale(1,1);
}

.cards:hover  .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}





.my01, .my02, .my03{

    font-size: 170px;
    color: rgb(58, 55, 57);
    font-weight: bold;
    opacity: 40%;
}


.my01{
    margin-left: 300px;
    margin-top: -700px;
}
.my02{
    margin-left: 650px;
    margin-top: 105px;
}
.my03{
    margin-left: 300px;
}





footer {
background-color: #333;
color: #fff;
padding: 20px;
margin-top: 200px;
text-align: center;
}

.footer-content {
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
}

.footer-section {
flex: 1;
padding: 0 20px;
}

.footer-section h2 {
font-size: 18px;
margin-bottom: 10px;
}

.footer-section p {
font-size: 14px;
line-height: 1.5;
}


.container2 {
display: flex;
justify-content: space-evenly;
height: 500px;
margin-left: 20px;
width: 95%;
max-width: 1600px; 
margin: 0 auto; 
}


.box {
width: 600px;
height: 470px;
background-color: #cce5ff; 
border-radius: 10px;
animation-delay: 2.5s;
display: inline-block;
animation-name: faderight;
animation-duration: 6s;
animation-fill-mode: forwards;
transition: all 0.3s ease;
animation-iteration-count: 2;
margin-left: 20px;
opacity: 0;
}





@keyframes faderight{

0%{
    opacity: 0;
    transform: translateX(-200%);
}

25%{
    opacity: 1;
    transform: translateX(0%);
}

50%{
    opacity: 1;
    transform: translateX(0%);
}
70%{
    opacity: 1;
    transform: translateX(0%);
}

100%{
    opacity: 1;
    transform: translateX(0%);
}
}


.title-container {
display: flex;
justify-content: center;
margin: 200px 0px 0px 0px;
}

.title-container h2 {
font-size: 2rem;
color: #4CAF50;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}



#find-trips {
background-color: #4CAF50;
color: white;
border: none;
border-radius: 4px;
padding: 10px 20px;
font-size: 1.2rem;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#find-trips:hover {
    background-color: #45a049;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    width: 800px;
}

.shadow__btn {
    background: rgb(15, 144, 249);
    box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
}


.containerX {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
}

.containerX .buttonI{
    height: 50px;
    margin: 20px;
    margin-bottom: 40px;
    position: relative;
    width: 155px;
}

.containerX .buttonI a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
}

.containerX .buttonI:hover a {
    letter-spacing: 2px;
}

.containerX .buttonI a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
                    rgba(255,255,255,0.15),
                    transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.containerX .buttonI:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.containerX .buttonI::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    background: rgb(63, 238, 10);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerX .buttonI:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.containerX .buttonI::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    background: rgb(7, 245, 59);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.containerX .buttonI:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.containerX .buttonI:nth-child(1):before,
.containerX .buttonI:nth-child(1)::after {
background: #0cf318;
box-shadow: 0 0 5px #0ffb2e,
    0 0 15px #2bff59,
    0 0 30px #32ff2b,
    0 0 60px #22ff47;
}

.containerX .buttonI:active a {
    color: #f5f3f3;
}

.trips{
    margin-top: 400px;
}

.form-control {
        position: relative;
        margin: 20px 0px 0px 550px;
        width: 290px;
        display: flex;
        justify-content: space-evenly;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px rgb(61, 206, 61) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: gray;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: rgb(61, 206, 61);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: rgb(61, 206, 61);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: rgb(61, 206, 61);
    transform: translateY(-30px);
}
#checkbox2 {
    display: none;
}

.toggle2 {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 6px;
    background-color: rgb(92, 176, 255);
    border-radius: 6px;
}

#bar5 {
    transition-duration: .8s;
}

#bar4,#bar6 {
    width: 80%;
}

#checkbox2:checked + .toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox2:checked + .toggle2 #bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox2:checked + .toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
}

#X_btn{
    display: none;
}

@media screen and (max-width : 1000px) {
    .nav-list{
        display: none;
    }
    .container{
        width: 110vw;
    }

}
.rating{
    display: flex;
     justify-content: center;
      margin-right: 380px;
}
.brand-title{
    color: white; margin: -400px 0px 0px 55%;
    font-weight: bold;
    font-size: 60px;
    width: 400px;
}
#secondP{
    color: rgb(140, 140, 140);
    font-size: 24px;
    margin: -30px 0px 0px 40px;
    font-weight: bolder;
}
.rating p:first-child{
    font-size: 30px;
    font-weight: bolder;
} 
.rating p:first-child i{
    color: rgb(14, 170, 14);
    margin: 400px 20px 0px 450px;
    width: 20px;
    height: 20px; 
} 
.rating p + p{
    color: rgb(140, 140, 140); 
    font-size: 24px; 
    margin: -30px 0px 0px 455px; 
    font-weight: bolder;
} 
.opinions{
    display: flex; 
    flex-wrap: wrap; 
    margin: 150px 2px -152px -25px; 
    justify-content: space-evenly;
}
.person-opinion{
    height: 400px;
    width: 350px;
}

.why_travel{
    display: flex;
    font-size: 30px;
    justify-content: center;
}
.p_exemple{
    font-size: 30px;
    font-weight: bold;color: #2C3E50;
    font-family:sans-serif; 
    font-weight: 800;
}

.first_exp{
    display: flex; align-items: center; justify-content: start;
}
.first_exp img{
    width: 500px; height: 500px; margin-left: -430px; border-radius: 25px;
}
.first_exp p:nth-of-type(2){
    text-align: center;
    display: inline-block; 
    vertical-align: 190px; 
    margin-left: 20px;
    font-size: 30px;color: rgb(52, 52, 52)
}

.second_exp div{
    display: flex; 
    align-items: center;
    justify-content: end;
    margin: 50px;
}
.second_exp img{
    width: 600px;
    height: 500px;
    border-radius: 25px;
}
.second_exp p{
    display: inline-block; 
    vertical-align: 190px; 
    margin: 0px 30px 0px 0px; 
    font-size: 30px; 
    margin-left: -30px;
    color: rgb(52, 52, 52); 
    text-align: center;
}

.third_exp div{
    display: flex; 
    align-items: center; 
    justify-content: start; 
    margin: -70px 0px 0px 40px;
}
.third_exp div p{
    width: 800px; 
    display: inline-block; 
    vertical-align: 190px; 
    margin-left: 60px;
    font-size: 30px;
    color: rgb(52, 52, 52);
}
.third_exp div img{
    width: 550px; 
    height: 550px; 
    border-radius: 25px; 
    margin-left: 30px;
}
.destination_title #destination_p{
    font-weight:bolder;
    color: rgb(0, 0, 0);
    margin: 300px 0px 80px 0px;
    font-size: 40px; text-align: center;
    color: #2C3E50;
    font-family:sans-serif; 
    font-weight: 800;
}

